html, body {
    margin : 0px;
    height: 100%;
    width: 100%;
}

#root, .albums{

    display : flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.album{
    margin : 5px;
    padding : 3px;
    background-color: lightgray;
    border-style: solid;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.fas fa-spinner{
    width :300px;
    margin-top: 100px;
}

.pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numero {
    padding : 20px;
}