html, body {
    margin : 0px;
    height: 100%;
    width: 100%;
}

#root, .albums{

    display : flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.album{
    margin : 5px;
    padding : 3px;
    background-color: lightgray;
    border-style: solid;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.fas fa-spinner{
    width :300px;
    margin-top: 100px;
}

.pager {
    display: flex;
    flex-direction: column;
}

.pager1, .pager2 , .sorting{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numeroprec{
    justify-content: flex-end;
}

.numeroprec, .numerosuiv{
    display : flex;
    flex-direction: row;
    flex : 1;
}

.numero , .sortButton{
    margin: 20px;
    padding: 5px 10px;
    border: solid 1px rgb(77, 77, 255);
    background-color: rgb(105, 193, 248);
    border-width: 1px;
    border-radius: 3px;
}

.sortButton{
    display : flex;
    flex-direction: row;
    padding: 1px 10px;
}

.rotate{
   transform: rotate(180deg);
}

.main{
    display: flex;
    flex-direction: row;
}

.category{
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(77, 77, 255);
    background-color: rgb(105, 193, 248);
}